# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific metadata
.classpath
.project
.settings/
.vscode/
.idea/
*.iml
bin/

# Exclude large PDF specs if desired, or keep them. 
# POO TP1*.pdf
